*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    position: absolute;
    height: 100%;
    width: 1440px;
    min-width: 1024px;
    min-height: 768px;
    background:#DCF6F8;
}

#navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 208px;
    z-index: 1;
    position: fixed;
    width: 1440px;
    height: 81px;
    left: calc(50% - 1440px/2);
    top: 0px;
    
    background: #000000;
}

#inner-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 387px;
    
    position: static;
    width: 1024px;
    height: 81px;
    left: 208px;
    top: 0px;
    
    background: #000000;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    margin: 0px 10px;
}

#navbar-text{
    position: static;
    width: 250px;
    height: 61px;
    left: 387px;
    top: 10px;
    color: #E0DBFF;
    font-family: Niconne;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    position: absolute;
    width: 1024px;
    height: 606px;
    left: calc(50% - 1024px/2);
    top: calc(50% - 606px/2);
}

#icon-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    position: static;
    width: 1024px;
    height: 197.63px;
    left: 0px;
    top: 0px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
}

#photo{
    position: static;
    width: 204.8px;
    height: 197.63px;
    left: 0px;
    top: 0px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

#information-text{
    position: static;
    width: 739px;
    height: 219.05px;
    left: calc(50% - 739px/2);
    top: calc(50% - 219.05px/2 + 44.81px);
    
    font-family: SF Pro,Roboto;
    font-style: normal;
    font-weight: lighter;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    
    color: #000000;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

#button-area{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0px;
    
    position: static;
    width: 1024px;
    height: 108px;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 16px 0px;
}

#button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    position: static;
    width: 500px;
    height: 90px;
    
    background: #E0DBFF;
    border: 5px solid #000000;
    box-sizing: border-box;
    border-radius: 45px;

    font-family: SF Pro,Roboto;
    font-style: normal;
    font-weight: 110;
    font-size: 36px;
    line-height: 43px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
}

#button:hover{
    background: #000000;
    border: 5px solid #E0DBFF;
    color: #E0DBFF;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    position: absolute;
    width: 1440px;
    height: 81px;
    left: calc(50% - 1440px/2);
    bottom: 0px;
    
    background: #000000;   
}

#footer-text{
    position: static;
    width: 235px;
    height: 19px;
    
    font-family: SF Pro,Roboto;
    font-style: normal;
    font-weight:lighter;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #E0DBFF;
    
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}

@media (max-width:600px){

    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    a{
        text-decoration: none;
    }

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;

        position: relative;
        min-width: 375px;
        min-height: 812px;
        width: 100%;
        height: 100%;

        background: #DCF6F8;
    }

    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 27px;
        
        position: static;
        min-width: 375px;
        height: 90px;
        width:100%;
        left: calc(50% - 375px/2);
        top: 0px;
        
        background: #000000;
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 0px;
    }

    #inner-navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 35px;
        
        position: static;
        width: 321px;
        height: 90px;
        
        background: #000000;
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 0px 0px;
    }

    #navbar-text{
        position: static;
        width: 250px;
        height: 61px;
        
        font-family: Niconne;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
        line-height: 61px;
        /* identical to box height */
        
        display: flex;
        align-items: flex-end;
        text-align: center;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }

    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px 0px;
        
        position: static;
        width: 320px;
        height: 631px;
        
        background: #DCF6F8;
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 0px 0px;
    }

    #icon-area{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        
        position: static;
        width: 320px;
        height: 100px;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 10px 0px;
    }

    #photo{
        position: static;
        width: 60px;
        height: 57.9px;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 4;
        flex-grow: 0;
        margin: 0px 0px;
    }

    #information-text{
        position: static;
        width: 320px;
        height: 258px;
        
        font-family: SF Pro,Roboto;
        font-style: normal;
        font-weight: 110;
        font-size: 20px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.05em;
        
        color: #000000;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 1;
        flex-grow: 0;
        margin: 10px 0px;
    }

    #button-area{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 9px 0px;
        
        position: static;
        width: 280px;
        height: 171px;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 10px 0px;
    }

    #button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        
        position: static;
        width: 260px;
        height: 50px;

        font-family: SF Pro,Roboto;
        font-style: normal;
        font-weight: 110;
        font-size: 24px;
        line-height: 29px;
        
        background: #E0DBFF;
        border: 5px solid #000000;
        box-sizing: border-box;
        border-radius: 25px;
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 24px 0px;
    }

    #footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px 70px;
        
        position: static;
        min-width: 375px;
        height: 90px;
        width: 100%;
        background: #000000;
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 0px 0px;
    }

    #footer-text{
        position: static;
        width: 235px;
        height: 19px;
        left: calc(50% - 235px/2);
        bottom: 0px;
        
        font-family: SF Pro,Roboto;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
        line-height: 19px;
        /* identical to box height */
        
        display: flex;
        align-items: flex-end;
        text-align: center;
        
        color: #E0DBFF;
        
        
        /* Inside Auto Layout */
        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 10px;
    }
}