<!DOCTYPE html>
<html>

<head>
<link href="{{url_for('static', filename='/css/desktop/loginPage.css')}}" rel="stylesheet"/>
<link href="{{url_for('static', filename='/css/phone/mobilePhone-loginPage.css')}}" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Niconne&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
<title>mircoWeather</title>

</head>


<body>
<div id="navbar">
    <div id="inner-navbar">
    <label id="navbar-text">mircoWeather</label>
    </div>
</div>

<div id="main">
    <form id="form" method="POST">
        <div id="username-div">
            <div for="username-input" id="usernameText-div">Mail</div>
            <input type="text" name="username-input" id="username-input">
        </div>
        <div id="password-div">
            <div for="password-input" id="passwordText-div">Password</div>
            <input type="password" name="password-input" id="password-input">
        </div>
        
        <button type="submit" id="login-button">Log In</button>
        <a href="/forgetPassword" id="forget-password-a">Forget Password?</a>
    </form>
</div>

<div id="footer">
<label id="footer-text">designed and created by mircos</label>
</div>

</body>
</html>